.App {
  background-image: url("./folder-1.png");
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 35%;
  font-family: "Courier New", Courier, monospace;
}
